{
  "settings": {
    "streamerId": 85918317,
    "autoMessages": {
      "messagesLimit": 20,
      "messagesList": [
        "Twitter : https://twitter.com/funixgaming",
        "YouTube : https://youtube.com/c/funixgaming",
        "Soutenez la chaine via Utip ! https://utip.io/funixgaming",
        "Instagram : https://instagram.com/funixgaming_"
      ]
    }
  },


  "funixbot": {
    "options": {
      "debug": true
    },
    "connection": {
      "secure": true,
      "reconnect": true
    },
    "identity": {
      "username": "username",
      "password": "pass"
    },
    "channels": ["FunixGaming"]
  },


  "mysql": {
    "host": "127.0.0.1",
    "user": "s",
    "password": "s",
    "database": "s"
  },


  "api": {
    "twitch": {
      "apiKey": "key_here",
      "channel": "channel"
    }
  }
}
